<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ paths.theme }}style/main.css">
  <meta name="description" content="A friendly and lively church partnership in villages of rural Cheshire: Working together to share God’s love in the community.">
  <title>
    {%- if record.title is defined %}{{ record.title | e }} | {% elseif record.name is defined %}{{ record.name | e }} | {% endif %}
    {{ app.config.get('general/sitename') }}
    {% if record.title is not defined and app.config.get('general/payoff') %} | {{ app.config.get('general/payoff') }}{% endif %}
  </title>
  {% block headincludes %}
  {% endblock headincludes %}
</head>
<body>
  <header>
    {{ include('partials/_header.twig') }}
  </header>
  <main>
    {% block content %}
    {% endblock content %}
  </main>
  <footer>
    {{ include('partials/_footer.twig') }}
  </footer>
  {% block bottomincludes %}
  {% endblock bottomincludes %}
  {% block structuredcontent %}
  {% endblock %}
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-83134373-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>