{% extends 'partials/_master.twig' %}

{% block content %}

{% if activity.date|date("d/m/Y") == activity.until|date("d/m/Y") %}
  {% set date = "#{activity.date|date('l jS M Y g:ia')} - #{activity.until|date('g:ia')}"  %}
{% else %}
  {% set date = "#{activity.date|date('l jS M Y g:ia')} - #{activity.until|date('l jS M Y g:ia')}"  %}
{% endif %}

<section>
  <div>
    <h2 class="title">{{ activity.name|e }}</h2>
    {% if activity.image is not empty %}
      <img class="right" src="{{ activity.image|image(520,350) }}" width="520" height="350" alt="{{ activity.teaser|e }}">
    {% endif %}
    <div class="text">
      {{ activity.body }}
    </div>
    <div class="text">
      {% setcontent disclaimer = 'blocks/disclaimer-dbs' %}
      <h3>{{ disclaimer.title }}</h3>
      {{ disclaimer.content }}
    </div>
  </div>
</section>
<section>
  <div>
    <h3 class="title">When and where</h3>
    {% for meeting in activity.meetings %}
      <div>
        {% set buildingid = meeting.get('location') %}
        {% setcontent building = "building/#{buildingid}" %}
        <a href="{{ building.link }}" class="btn btn-outline">{{ building.name }}</a>
        <p>{{ meeting.get('week') }} {{ meeting.get('day') }} of month</p>
        <p>{{ meeting.get('from')|date('g:ia') }} - {{ meeting.get('until')|date('g:ia') }}</p>
      </div>
    {% endfor %}
  </div>
</section>


{% endblock content %}