{% extends 'partials/_master.twig' %}

{% block content %}

<section>
  <div>
    <h2 class="title">{{ news.headline|e }}</h2>
    {% if news.image is not empty %}
      <img class="right" src="{{ news.image|image(300,330) }}" width="300" height="330" alt="{{ news.teaser|e }}">
    {% endif %}
    <div class="news-article text">
      {{ news.body }}
    </div>
    {% if news.gallery|length > 0 %}
      <div class="images">
        {% for key, image in news.gallery %}
          <a href="#img{{ key }}" class="image">
            <img src="{{ image|thumbnail(160, 120, 'c') }}" width="160" height="120" alt="{{ image.title }}" />
          </a>
          <a href="#_" class="lightbox" id="img{{ key }}">
            <figure>
              <img src="{{ image|thumbnail(1000, 750, 'r') }}" width="1000" height="750" alt="{{ image.title }}" />
              <figcaption>
                {{ image.title }}
              </figcaption>
            </figure>
          </a>
        {% endfor %}
      </div>
    {% endif %}
    <small>Written on {{ news.datepublish|date('jS M Y') }}</small>
    {% set previous = record.previous('id') %}
    {% set next = record.next('id') %}
    {% if previous or next %}
        <p>
            {% if next %}
                <a href="{{ next.link }}">&laquo; {{ next.headline|e }}</a>
            {% endif %}
            {% if previous and next %}
            -
            {% endif %}
            {% if previous %}
                <a href="{{ previous.link }}">{{ previous.headline|e }} &raquo;</a>
            {% endif %}
        </p>
    {% endif %}
  </div>
</section>

{% setcontent othernews = 'news' where { id: "!#{news.id}" } limit 3 orderby '-datepublish' %}
{% if othernews|length > 0 %}
<section>
  <div>
    <h2 class="title">Other News</h2>
    {% for article in othernews %}
      {% include 'partials/_article.twig' %}
    {% endfor %}
    {% if othernews|length == 3 %}
      <div>
        <a href="{{ paths.root }}news" class="btn btn-outline">View all</a>
      </div>
    {% endif %}
  </div>
</section>
{% endif %}


{% endblock content %}

{% block structuredcontent %}

{% include "partials/_article-structured-content.twig" %}

{% endblock %}