{% extends 'partials/_master.twig' %}

{% block content %}

{% set bannerimage = paths.theme ~ 'images/' ~ random(theme.homepagebanner) %}
<section class="image" style='background-image: url({{ bannerimage }}); background-position: center; background-size: cover;'>
  <div class="vision">
    <p>Working together to share God's love in the community</p>
  </div>
</section>

{% setcontent events = 'events' where { until: '>now' } limit 3 orderby 'date' %}
{% if events|length > 0 %}
<section>
  <div>
    <h2 class="title">Upcoming Events</h2>
    {% for event in events %}
      <div class="border">
        {% if event.image is not empty %}
          <img src="{{ event.image|thumbnail(320,240) }}" width="320" height="240" alt="{{ event.title|e }}">
        {% endif %}
        <h3>{{ event.title|e }}</h3>
        <p>{{ event.teaser|e }}</p>
        <a href="{{ event.link }}" class="btn btn-outline">Find out more</a>
      </div>
    {% endfor %}
    {% if events|length == 3 %}
      <div>
        <a href="{{ paths.root }}whats-on/events" class="btn btn-outline">View more</a>
      </div>
    {% endif %}
  </div>
</section>
{% endif %}

{% setcontent services = 'services' where { display: true } %}
{% setcontent buildings = 'buildings' %}
{% if services|length > 0 %}
<section>
  <div>
    <h2 class="title">Regular Services</h2>
    {% for building in buildings if building.relation.services|length > 0%}
      <div class="item">
        <a href="{{ building.link }}"><h3>{{ building.name }}</h3></a>
        {% for service in services if building.id in service.relation.buildings %}
          <h4>
            {{ service.weeks|join(', ')|e }} {{ service.day|e }}
            {% if not ('Every' in service.weeks or 'Every other' in service.weeks ) %}
              of month
            {% endif %}
          </h4>
          <a href="{{ service.link }}" class="btn btn-outline">
            {% if (service.weeks is not empty) and (service.day is not empty) %}
              <strong>{{ service.time|e }}</strong> {{ service.title|e }}
            {% endif %}
          </a>
        {% endfor %}
      </div>
    {% endfor %}
    {% if condition %}
      
    {% endif %}
  </div>
</section>
{% endif %}

{% setcontent Activities = 'Activities' where { display: true } limit 3 %}
{% if Activities|length > 0 %}
<section>
  <div>
    <h2 class="title">Activities</h2>
    {% for group in Activities %}
      <a class="border no-link" href="{{ group.link }}">
        {% if group.image is not empty %}
          <img src="{{ group.image|thumbnail(320,240) }}" width="320" height="240" alt="{{ group.name|e }}">
        {% endif %}
        <h4>{{ group.name|e }}</h4>
        <p>{{ group.teaser }}</p>
        <p class="link btn btn-outline">More info</p>
      </a>
    {% endfor %}
    {% if Activities|length >= 3 %}
      <a class="btn btn-outline" href="{{ paths.root }}whats-on/activities">View all</a>
    {% endif %}
  </div>
</section>
{% endif %}

{% setcontent news = 'news' limit 3 orderby '-datepublish' %}
{% if news|length > 0 %}
<section>
  <div>
    <h2 class="title">Parish News</h2>
    {% for article in news %}
      <article class="border">
        {% if article.image is not empty %}
          <img src="{{ article.image|thumbnail(320,240) }}" width="320" height="240" alt="{{ article.name|e }}">
        {% endif %}
        <h3>{{ article.title|e }}</h3>
        <p>{{ article.teaser|e }}</p>
        <p><small>{{ article.datepublish|date('jS M Y') }}</small></p>
        <a href="{{ article.link }}" class="btn btn-outline">Read article</a>
      </article>
    {% endfor %}

    {% if news|length == 3 %}
      <a href="{{ paths.root }}news" class="btn btn-outline">View more news</a>
    {% endif %}
  </div>
</section>
{% endif %}



{#
<section>
    <h1>{{ record.title }}</h1>

    {{ record.teaser }}

    {{ popup(record.image, 1200, 500) }}

    {{ record.body }} #}

    {#{{ include('partials/_recordfooter.twig', { 'record': record }) }}#}
{#</section>#}
{% endblock content %}